/* COMMON */

.header, .footer {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.header {
    border-bottom: 1px solid #323232;
}

.footer {
    border-top: 1px solid #323232;
}

a {
    color: #323232;
}

a:hover, a:active {
    color: black;
    text-decoration: none!important;
}

.title-header {
    margin: auto;
    margin-top: 10px;
    line-height: 35px;
    font-weight: bolder;
    font-size: 110%;
    color: #323232;
    border-bottom: 1px solid #6D6D6D;
}

.left-aside, .container {
    padding-left: 30px;
}

/* LEFT-ASIDE */

.caterogy-title, .filter-title {
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
    /* color: #20368F; */
}

.filter-icon {
    position: absolute;
    right: 5%;
    top: auto;
}

.filter-content {
    padding-left: 15px;
}

.filter-link {
    margin-top: 5px;
    font-size: 80%;
    font-weight: bold;
    cursor: pointer;
    color: #6D6D6D;
    display: block;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    ;
}

.fa-square {
    color: #323232;
    font-weight: bold;
}

.fa-check-square {
    color: green;
    font-weight: bold;
}

.fa-star {
    color: orange;
}

.fa-star-no-color {
    color: gray;
}

input[type=number] {
    width: 40%!important;
    display: inline-block;
}

/* CONTAINER */

.sort-button {
    text-align: right;
}

.product-list {
    margin-top: 10px;
}

.product-box {
    /* position: relative; */
    z-index: 10;
    margin-top: 20px;
    background-color: white;
    transition: all 1s;
}

.product-image__main {
    width: 100%;
    max-width: 200px;
    margin: 5px auto;
}

.carousel-indicators {
    display: none;
    bottom: 0;
}

.carousel-indicators li {
    width: 20%!important;
    height: 0.7vh!important;
}

.product-buynow {
    position: absolute;
    top: 5%;
    left: 10%;
    color: #323232;
    cursor: pointer;
    transition: all .5s;
}
.product-buynow:hover,
.product-buynow:active{
    transform: scale(1.2);
    color: red;
}
.product-love {
    position: absolute;
    top: 5%;
    right: 10%;
    color: red;
    cursor: pointer;
}

.product-title {
    min-height: 50px;
    color: #000B4F;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border-bottom: 1px solid #6D6D6D;
}

.product-detail {
    display: block;
    font-size: 85%;
    font-weight: lighter;
}

.product-box:hover, .product-box:active {
    z-index: 100;
    box-shadow: 1px 1px 5px;
    transform: scale(1.05);
    /* border: 1px solid black; */
}

.product-box:hover .carousel-indicators, .product-box:active .carousel-indicators {
    display: inline-block;
}
.pagination-bar {
    position: relative;
    margin: 10px auto;
    margin-top: 25px;
    text-align: center;
}
.pagination .page-item a {
    color: #323232;
}
.pagination .active a {
    background-color: #6D6D6D;
    border: 1px solid #6D6D6D;
    color: #EBEBEB;
}