@media only screen and (max-width:768px){
    .product-box{
        width: 50%;
        display: inline-block;
        float: left;
    }
}

@media only screen and (max-width:400px){
    .product-box{
        width: 100%;
    }
}