/* COMMON */
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: 'Exo', sans-serif;
}
.header,
.footer{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.header{
    border-bottom: 1px solid #323232;
}
.footer{
    border-top: 1px solid #323232;
}
a{
    color: #323232;
}
a:hover,
a:active{
    color: black;
    text-decoration: none;
}
.title-header{
    margin: auto;
    margin-top: 10px;
    line-height: 35px;
    font-weight: bolder;
    font-size: 110%;
    color: #323232;
    border-bottom: 1px solid #6D6D6D;
}
.left-aside,
.container{
    padding-left: 30px;
}
/* LEFT-ASIDE */
.caterogy-title,
.filter-title{
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
    color: #20368F;
}
.filter-icon{
    position: absolute;
    right: 5%;
    top: auto;
}
.filter-link{
    color: #6D6D6D;
    display: block;
}
.form-check,
.form-group{
    padding-left: 15px;
}
.form-check-label{
    font-size: 80%;
    font-weight: lighter;
    cursor: pointer;
}
.fa-star{
    color: orange;
}
.fa-star-no-color{
    color: gray;
}
input[type=number]{
    width: 40%!important;
    display: inline-block;
}
/* CONTAINER */
.sort-button{
    text-align: right;
}
.product-list{
    margin-top: 10px;
}
    .product-box{
        /* position: relative; */
        z-index: 10;
        margin-top: 20px;
        background-color: white;
        transition: all .5s;
    }
        .product-image__main{
            width: 100%;
            max-width: 200px;
            margin: 5px auto;
        }
        /* .product-image__sub{
            display: none;
            width: 30%;
            margin: 5px;
            transition: all .5s;
        } */
        .carousel-indicators{
            display: none;
            bottom: 0;
        }
        .carousel-indicators li{
            width: 20%!important;
            height: 0.7vh!important;
        }
        .product-love{
            position: absolute;
            top: 5%;
            right: 10%;
            color: red;
            cursor: pointer;
        }
        .product-title{
            color: #000B4F;
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid #6D6D6D;
        }
        .product-detail{
            display: block;
            font-size: 85%;
            font-weight: lighter;
        }
    .product-box:hover,
    .product-box:active{
        z-index: 100;
        box-shadow: 1px 1px 5px;
        transform: scale(1.05);
        border: 1px solid black;
    }
    .product-box:hover .carousel-indicators,
    .product-box:active .carousel-indicators{
        display: inline-block;
    }
    .pagination-bar{
        margin: 10px;
        text-align: center;
    }
    .pagination .page-item a{
        color: #323232;
    }
    .pagination .active a{
        background-color: #6D6D6D;
        border: 1px solid #6D6D6D;
        color: #EBEBEB;
    }